*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(43, 43, 43);
    overflow-x: hidden;
}
main {
    width: 100vw;
    height: 100vh;
}
section {
    height: 100vh;
}
main section:first-of-type {
    width: 100vw;
    display: flex;
    align-items: center;
}
.cirkelbegin {
    height: 25vh;
    width: 25vh;
    background-color: springgreen;
    border-radius: 50% 50%;
    margin: 0 auto;
}
main section:nth-of-type(2) {
    width: 100vw;
    display: flex;
    align-items: center;
}
.cirkel {
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 195, 255);
    border-radius: 0% 0%;
    margin: 0 auto;
}
main section:nth-of-type(3) {
    display: flex;
    width: 100vw;
    align-items: center;
}
.cirkel2 {
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 187, 0);
    border-radius: 0% 0%;
    margin: 0 auto;
}

main section:nth-of-type(4) {
    display: flex;
    width: 100vw;
    align-items: center;
}

.cirkeleind {
    height: 100vh;
    width: 100vw;
    background-color: rgb(225, 0, 255);
    border-radius: 0% 0%;
    margin: 0 auto;
}
